name: build

on:
  workflow_dispatch:
  push:
    branches:
    - main
    - test-me-*
    tags:
    - '*'

permissions:
  contents: read
  packages: write

jobs:
  build:
    name: Build & Push Docker image
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - uses: docker/setup-qemu-action@v3
    - uses: docker/setup-buildx-action@v3
    - uses: docker/login-action@v2
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    # Automatic builds -> `latest` tag
    - name: Build & Push (latest)
      if: github.event_name != 'workflow_dispatch'
      uses: docker/build-push-action@v5
      with:
        context: .
        platforms: linux/amd64,linux/arm64
        push: true
        tags: |
          ghcr.io/${{ github.repository }}:${{ github.sha }}
          ghcr.io/${{ github.repository }}:latest

    # Manual run on main -> `stable` tag
    - name: Build & Push (stable)
      if: github.event_name == 'workflow_dispatch' && github.ref == 'refs/heads/main'
      uses: docker/build-push-action@v5
      with:
        context: .
        platforms: linux/amd64,linux/arm64
        push: true
        tags: |
          ghcr.io/${{ github.repository }}:${{ github.sha }}
          ghcr.io/${{ github.repository }}:stable

    # Manual run on any other branch -> `test` tag
    - name: Build & Push (test)
      if: github.event_name == 'workflow_dispatch' && github.ref != 'refs/heads/main'
      uses: docker/build-push-action@v5
      with:
        context: .
        platforms: linux/amd64,linux/arm64
        push: true
        tags: |
          ghcr.io/${{ github.repository }}:${{ github.sha }}
          ghcr.io/${{ github.repository }}:test
